.face-box {
    /* background-color: red; */
    background: none;
    opacity: 0.5;
    position: absolute;
    z-index: 100;
}

.info-card-background {
    position: absolute;
    box-sizing: border-box;
    width: 329px;
    height: 330px;
    z-index: 200;
    border-radius: 16px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%);
    background-color: rgba(218, 218, 218, 0.45);
    background-blend-mode: screen;
    mix-blend-mode: multiply;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.33);
    backdrop-filter: blur(50px);
    transition: calc(1 * 200ms) ease-out;
}

.info-card-content {
    position: absolute;
    box-sizing: border-box;
    width: 329px;
    height: 330px;
    z-index: 200;
    border-radius: 16px;
    border: 0.5px solid rgba(222, 222, 222, 0.25);
    /* layout */
    display: inline-flex;
    padding: 14px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;    
    transition: calc(1 * 200ms) ease-out;
}

.info-card-background.collapsed,
.info-card-content.collapsed {
    height: 68px;
    transition: calc(1 * 200ms) ease-out;
}


.card-header {
    display: flex;
    width: 300px;
    padding-right: 0px;
    justify-content: space-between;
    align-items: center;
    z-index: 202;
}

.card-header-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-image-container {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    overflow: hidden;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 30%;
    background-color: rgba(255, 255, 255, 0.60);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
}

h1, h2 {
    padding: 0 !important;
    margin: 0 !important;
    /* font-family: 'Inter', sans-serif; */
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

h1 { 
    color: rgba(255, 255, 255, 0.90) !important; 
    font-size: 16px !important;
}
h2 { 
    color: rgba(255, 255, 255, 0.60) !important; 
    font-size: 15px !important;
}

.arrow-button-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 5px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.90);
}

.arrow-button-container:hover {
    color: rgba(255, 255, 255, 0.60);
}

.header-arrow-icon {
    transition: 100ms;
}

.collapsed .header-arrow-icon {
    transform: rotate(90deg);
    transition: 100ms;
}

.card-bio { 
    position: relative; 
    height: 80px;
    z-index: 201;
    transition: translate calc(1 * 150ms) ease-out, opacity calc(1 * 440ms);
    transition-delay: calc(1 * 60ms);
}

.collapsed .card-bio {
    opacity: 0;
    translate: 0 -100px;
    pointer-events: none;
    transition: translate calc(1 * 90ms) ease-out, opacity calc(1 * 50ms);
}

p {
    width: 300px !important;
    padding: 0 !important;
    margin: 0 !important;
    /* font-family: 'Inter', sans-serif; */
    font-size: 13px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 16px !important;
    color: rgba(255, 255, 255, 0.90) !important;
}

.small-text {
    padding: 0 !important;
    margin: 0 !important;
    /* font-family: 'Inter', sans-serif; */
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

.read-more {
    display: flex;
    align-items: center;
    gap: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgba(255, 255, 255, 0.60);
}

.read-more:hover { color: rgba(255, 255, 255, 0.40); }


.other-productions {
    color: rgba(255, 255, 255, 0.60);
    z-index: 201;
    transition: translate calc(1 * 150ms) ease-out, opacity calc(1 * 300ms);
    transition-delay: calc(1 * 60ms);
}

.collapsed .other-productions {
    opacity: 0;
    translate: 0 -100px;
    pointer-events: none;
    transition: translate calc(1 * 90ms) ease-out, opacity calc(1 * 50ms);
}

/* animate down */
.productions-container {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    z-index: 201;
    transition: translate calc(1 * 150ms) ease-out, opacity calc(1 * 280ms);
    transition-delay: calc(1 * 60ms);
}

/* animate up */
.collapsed .productions-container {
    opacity: 0;
    translate: 0 -100px;
    pointer-events: none;
    transition: translate calc(1 * 90ms) ease-out, opacity calc(1 * 50ms);
}

.production {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.production-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
}

.production-image-container {
    width: 66px;
    height: 101px;
    background-position-x: 50%;
    background-position-y: 50%;
    border-radius: 4px;
    overflow: hidden;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.60);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
}

.production-title,
.production-year {
    width: 66px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.production-title { color: rgba(255, 255, 255, 0.90); }
.production-year { color: rgba(255, 255, 255, 0.60); }




